/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0f7e9; 
  color: #333;
  padding: 20px;
}

header {
  background-color: #58a56a;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

h1 {
  font-size: 2.5em;
}

.main-content {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.open-date, .info, .navigation {
  margin-bottom: 20px;
}

.open-date h2, .info h3, .navigation h3 {
  color: #58a56a; /* Matching green for section titles */
}

a {
  color: #58a56a;
  text-decoration: none;
}

/* Navigation Styles */
.nav-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Reduced spacing between navigation items */
}

.nav-item {
  text-align: center;
  background-color: #f0f4f2;
  padding: 40px;
  border-radius: 8px;
  width: 320px; /* Consistent width for all navigation items */
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Ensures even space between elements */
}

.nav-item:hover {
  transform: scale(1.05);
}

.nav-item img {
  width: 280px; /* Increased image size */
  height: 280px; /* Increased image size */
  margin-bottom: 10px;
}

p {
  font-size: 1.2em; /* Increased font size */
  color: #333;
  margin-top: 10px; /* Ensures spacing above the paragraph */
}

/* Centering the Files & Media */
.nav-item[data-type="files-media"] {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically */
}

/* Form Section */
.form-section {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
  color: #58a56a; /* Matching green for section titles */
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

textarea {
  width: 90%; /* Ensures textareas take up consistent space */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="file"] {
  width: 90%; /* Ensures file input takes up consistent space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1em;
}

input[type="submit"] {
  width: 90%; /* Ensures submit buttons are consistent in width */
  background-color: #58a56a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #4e955e;
}
